colorama==0.4.6
iniconfig==2.3.0
joblib==1.5.3
manifold3d==3.5.2
narwhals==2.24.0
networkx==3.6.1
numpy==2.5.2
packaging==26.3
pluggy==1.6.0
Pygments==2.21.0
pytest==9.1.1
rtree==1.4.1
scikit-learn==1.9.0
scipy==1.18.0
shapely==2.1.2
threadpoolctl==3.6.0
tqdm==4.70.0
trimesh==5.0.0
